div.window {
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 3px grey;
    background-color: gainsboro;
    margin: 0 auto;
    width: 960px;
    height: 110px;
    padding: 10px;
    text-align:center;
}

div.left {
    width: 270px;
    float: left;
}

div.right{
    width: 270px;
    float: right;
}

div.center{
    display: inline-block;
    margin: 0 auto;
}

select.list{
    width: 100%
}

input.fullWidth {
    width: 100%
}

button.hidden {
    display: none;
}