div.window {
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 3px grey;
    background-color: aquamarine;
    margin: 0 auto;
    width: 300px;
    padding: 10px
}

input.fullWidth {
    width: 100%
}